<p-breadcrumb class="max-w-full" [model]="items" />
<div class="home-container">
  <div class="home-buttons">
    <p style="color: #000">Writable signal to readonly: {{ state.count() }}</p>
    <div class="card" style="display: contents">
      <p-button
        label="Increment"
        severity="success"
        [raised]="true"
        (onClick)="state.increment()"
      />
      <p-button label="Decrement" severity="danger" [raised]="true" (onClick)="state.decrement()" />
    </div>
  </div>
</div>

<div class="personal-info">
  <p style="color: #000; margin-left: 1rem; margin-bottom: 1.5rem">
    Computed() example: {{ state.person_information() }}
  </p>
  <p-floatLabel>
    <input pInputText id="username" [(ngModel)]="name" />
    <label for="username">Username</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="country" [(ngModel)]="country" />
    <label for="country">Country</label>
  </p-floatLabel>
  <p-button label="Enviar" severity="info" [raised]="true" (onClick)="sendPersonalInfo()" />
</div>

<div class="notas_aluno">
  <p style="color: #000; margin-left: 1rem; margin-bottom: 1.5rem">
    Notas alunos, Effect() : {{ state.media() }}
  </p>
  @if (state.enviarAlerta()) {
    <p-message class="message" severity="error">Aluno fora da média</p-message>
  } @else {
    <p-message class="message" severity="info">Aluno dentro da média</p-message>
  }

  <div id="input-container">
    <input pInputText type="number" [(ngModel)]="novaNota" />
    <p-button label="Adicionar Nota" severity="info" [raised]="true" (onClick)="adicionar()" />
  </div>
</div>
