<p-breadcrumb class="max-w-full" [model]="items"/>
<div class="wrapper">
  <div class="image-container">
    <div class="image-item">
      <h3>Forest</h3>
      <p-image
        src="https://images.pexels.com/photos/14111238/pexels-photo-14111238.jpeg"
        alt="Image"
        width="300"
      />
    </div>

    <div class="image-item">
      <h3>Ocean</h3>
      <p-image
        src="https://images.pexels.com/photos/18027832/pexels-photo-18027832.jpeg"
        alt="Image"
        width="300"
      />
    </div>

    <div class="image-item">
      <h3>City</h3>
      <p-image
        src="https://images.pexels.com/photos/16705978/pexels-photo-16705978.jpeg"
        alt="Image"
        width="300"
      />
    </div>
  </div>
</div>
